<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>MVC Project</h1>
    <form action="/addata" method="post">
        <input placeholder="enter the img url" name="urls">
        <input placeholder="enter the title" name="title">
        <input placeholder="enter the price" name="price">
        <button>Submit</button>
    </form>
    <table border="1" cellpadding="10px">
        <tr>
            <th>Img</th>
            <th>title</th>
            <th>price</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        <%dat.map((el,i)=>{%>
            <tr>
                <td>
                    <img src="<%=el.urls%>">
                </td>
                <td><%=el.title%></td>
                <td><%=el.price%></td>
                <td>
                    <a href="/edit?id=<%=el.id%>"><button>Edit</button></a>
                </td>
                <td>
                    <a href="/delete?id=<%=el.id%>"><button>delete</button></a>
                </td>
            </tr>
       <% })%>
    </table>
</body>
</html>